<div
  class="container-fluid mb-5"
  style="height: 400px;"
  style="margin-top: 90px;"
>
  <div class="row">
    <div class="col-md-1" style="text-align: center;">
      <img src="{{ item['image'] }}" height="100px" alt="iphone2" />
      <br /><br />
      <img src="{{ item['image'] }}" height="100px" alt="" />
      <br /><br />
      <img src="{{ item['image'] }}" height="100px" alt="" />
      <br /><br />
      <img src="{{ item['image'] }}" height="100px" alt="" />
    </div>

    <div class="col-md-4" style="text-align: center;">
      <img
        src="{{ item['image'] }}"
        alt="iphoneimage"
        style="padding-top: 70px;height: 400px;"
      />
    </div>
    <div class="col-md-7" style="padding-top: 70px;">
      <h4>
        {{ item["item_name"] }}
      </h4>
      <br />
      <h3>₹{{ item["price"] }}</h3>
      <br />

      <p><strong> Available offers </strong></p>
      <br />
      <ul>
        <li>
          <strong> Bank Offer%</strong> Unlimited Cashback on Flipkart Axis Bank
          Credit Card
        </li>
        <li>
          <strong> Bank Offer%</strong> Unlimited Cashback on SBI Bank Credit
          Card
        </li>
        <li>
          <strong> Bank Offer5% </strong> Cashback on Flipkart Axis Bank Credit
          Card
        </li>
      </ul>
      <br />
      <p><strong>Highlights</strong></p>
      <br />
      <ul>
        <li>Power Output (RMS): 10 W</li>
        <li>Power Source: Micro USB Chargeable</li>
        <li>Battery life: 5 hr | Charging time: 2 hr</li>
        <li>Bluetooth Version: 4.2+ EDR</li>
        <li>Wireless range: 10 m</li>
      </ul>
    </div>
  </div>
</div>
<div class="container mb-2 ">
  <div class="row">
    <div class="col-sm-1 text-white text-center " style="margin-left: 250px;">
      <p class="hello">Add to Cart</p>
    </div>
    <div class="col-sm-1 text-white text-center " style="margin-left: 100px;">
      <p class="hello">Buy Now</p>
    </div>
  </div>
</div>
