* {
  padding: 0px;
  margin: 0px;
}

.hello {
  background-color: gray;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: -45px;
  margin-right: -45px;
}
