* {
  padding: 0px;
  margin: 0px;
}

// p {
//   margin-top: 100px;
//   margin-bottom: 100px;
//   height: 300px;
// }

.hello {
  background-color: orangered;
  text-align: center;
  color: white;
  border-width: 3px;
  border-color: white;
}

.hello1 {
  border: 1px solid black;
}
